<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ando Endulzando</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DesWebProyectoFinal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 NavBar">
            <div class="container-fluid">
                <img style="margin-right:1em; width:40px;height:40px; object-fit:cover; border-radius:30px" src="~/imagenes/Logo.jpg">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><strong>Ando Endulzando</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">                    
                    <partial name="_MenuDinamico"/>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Ando Endulzando 
        </div>
    </footer>
    <script src="https://js.braintreegateway.com/web/3.97.0/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.97.0/js/hosted-fields.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/lodash.js"></script>
    <script>
        async function CargarCantidadCarro(){
            $.ajax({
                type: 'GET',
                url: `/CarroCompra/CantidadCarro`,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    if(response == 0){
                        $('#Cantidad-CART').addClass('visually-hidden');
                    }else{
                        $('#Cantidad-CART').removeClass('visually-hidden');
                    }
                    $('#Cantidad-CART').html(response);
                },
                failure: function (response) {
                    alert(reponse.responseText);
                },
                error: function (response) {
                    alert(reponse.ResponseText);
                }
            })
        }
        
        $(document).ready(async function(){
            CargarCantidadCarro();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
