@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de reestablecimiento de contraseña.";
}

<h1>@ViewData["Title"]</h1>
<p>
    Porfavor revise su correo electrónico para el link de restablecimiento de contraseña.    
</p>
