@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de reestablecimiento de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña ha sido reestablecida. Porfavor de clic <a asp-page="./Login">aquí para iniciar sesión</a>.
</p>
